.profile-wrapper {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 45%;
  margin: 30px auto;   
  border-left: 20px solid #8b5e3c;
  border-right: 20px solid #8b5e3c;

  background-color: #f3e9dc;
  padding: 30px 30px 30px 30px; 
  color: #8b5e3c;
  border-radius: 8px;
}
.profile-sections {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Debt box */
.debt-box {
  background-color: #f3e9dc;
  border-left: 20px solid #8b5e3c;
  border-right: 20px solid #8b5e3c;
  padding: 20px;
  border-radius: 8px;
}

.debt-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.debt-amount {
  font-size: 26px;
  font-weight: bold;
  color: #8b5e3c;
}

/* Yellow Button Styling */
.pay-fines-button {
  background-color: #ffd54f;  /* soft yellow */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
  color: #5a4600;
}

.pay-fines-button:hover:not(:disabled) {
  background-color: #ffca28; /* darker yellow */
}

.pay-fines-button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
  color: #888;
}

/* Borrowed books box */
.borrowed-box,
.reserved-box {
  background-color: #fff3e6;
  border-left: 20px solid #8b5e3c;
  border-right: 20px solid #8b5e3c;
  padding: 20px;
  border-radius: 8px;
}

.borrowed-box h2,
.reserved-box h2 {
  color: #000000;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding-left: 0;
  color: #8b5e3c;
}

li {
  margin-bottom: 8px;
  color: #8b5e3c;
}
.borrowed-box p ,.reserved-box p{
  padding-top: 10px;
  font-size: 26px;
  font-weight: bold;
  color: #8b5e3c;
}
.back-button {
  position: absolute;
  top: 50px;
  left: 50px;

  border-left: 20px solid #8b5e3c;
  border-right: 20px solid #8b5e3c;

  background-color: #f3e9dc;
  color: #8b5e3c;

  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
}


.back-button:hover {
  background-color: #c08c5a;
  color: white;
}

.borrowed-item {
  display: flex;
  justify-content: space-between; /* title left, button right */
  align-items: center;
  background: #f3e9dc;
  padding: 12px 15px;
  border-radius: 6px;
  border-left: 5px solid #8b5e3c;
  border-right: 5px solid #8b5e3c;
  margin-bottom: 10px;
}

.borrow-info {
  font-size: 18px;
  color: #8b5e3c;
  font-weight: 500;
}

.return-btn {
  background-color: #ff6b6b;          /* soft red */
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s ease;
}

.return-btn:hover {
  background-color: #e63946;          /* darker red */
  transform: scale(1.05);
}

.return-btn:active {
  transform: scale(0.95);
}
